@use "var";

@include var.pc_screen() {
}

@include var.sp_screen() {
    .adjustment {
        padding-top: 75px;
    }
    hr{
        border: none;
        border-top: 2px dotted;
    }

    .test {
        background-color: red;
    }
    
    .swiper{
        height: 32em;
        width: 100%;
        z-index: 99;
        border-radius: 3%;
    }
    .swiper-pagination-bullet {
        width: 12px !important;
        height: 12px !important;
        margin: 0 0 0 10px !important;
        color: #FFF !important;
        background: #FFF !important;
    }
    .swiper-button-next{
        height: 15em;
        opacity: 0;
    }
    .swiper-button-next::after{
        height: 15em;
        opacity: 0;
    }
    .swiper-button-prev{
        height: 15em;
        opacity: 0;
    }
    .swiper-button-prev::after{
        height: 15em;
        opacity: 0;
    }
    .swiper-slide:nth-child(4n + 1) {
        // text-shadow:1px 1px 0 #f00,-1px 1px 0 #f00,1px -1px 0 #f00,-1px -1px 0 #f00;
        text-shadow:0.5px 0.5px 0 #fff,-0.5px 0.5px 0 #fff,0.5px -0.5px 0 #fff,-0.5px -0.5px 0 #fff;
        display: inline-block;
        vertical-align: middle;
        writing-mode: vertical-rl;
        text-align: center;
        font-feature-settings: "palt";
        color: #FFF;
        // background-color: #de4439;
        background-image: url("飛騨牛特上カルビ.JPG");
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba($color: #000, $alpha: 0.007);
        background-size: contain;
    }

    .swiper-slide:nth-child(4n + 2) {
        // background-color: #de4439;
        background-image: url("life188-1.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba($color: #FEE, $alpha: 0.5);
        background-size: contain;
    }

    .swiper-slide:nth-child(4n + 3) {
        // background-color: #de4439;
        background-image: url("ace5.png");
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba($color: #FEE, $alpha: 0.5);
        background-size: contain;
    }

    .swiper-slide:nth-child(4n + 4) {
        // background-color: #de4439;
        background-image: url("test4.jpeg");
        background-repeat: no-repeat;
        background-position: center;
        background-color: rgba($color: #FEE, $alpha: 0.5);
        background-size: contain;
    }


    #store_detail{
        #googlemap{
            width: 100%;
        }
    }

    .pickup{
        padding-top: 15px;
        position: relative;
        height: 9em;
        width: 100%;

        p{
            // width: 100%;
            position: absolute;
            font-size: 20px;
            padding: 0;
        }
        .first{
            span{
                font-size: 36px;
                color: var.$color_main;
            }
        }
        .second{
            top: 51px;
            span{
                font-size: 36px;
                color: var.$color_main;
            }

        }
        .third{
            top: 87px;
            span{
                font-size: 36px;
                color: var.$color_main;
            }
        }

    }
    h2{
        margin: 0px;
    }

    #menu{

        details{
            padding-left: 5px;
        }
        .meet{
            position: relative;
            width: 100%;

            table{
                margin-left: auto;
                margin-right: auto;
                position: relative;
                border-collapse: collapse;
                tr{
                    position: relative;
                    td{
                        width: 110px;
                        height: 80px;
                        position: relative;
                        font-size: 12px;
                        span{
                            color: red;
                        }
                    // border-bottom: dashed 1px black;
                        .title{
                            position: absolute;
                            top: 0;
                        }
                        .description{
                            font-size: 8px;
                            text-align: center;
                            margin-left: auto;
                            margin-right: auto;                
                            padding-bottom: 3px;
                            span{
                                color: red;
                            }
                        }
                        .photo1{
                            height: 100px;
                            width: 100px;
                            border-radius: 5%;
                            background-image: url("karubi.jpeg");
                            background-position: center;
                            background-size: contain;
                        }
                        .photo2{
                            height: 100px;
                            border-radius: 5%;
                            width: 100px;
                            background-image: url("test5.jpeg");
                            background-position: center;
                            background-size: contain;
                        }
                        .photo_none{
                            height: 100px;
                            border-radius: 5%;
                            width: 100px;
                            background-image: url("ace_big.png");
                            background-position: center;
                            background-size: contain;
                        }

                    }
                }
            }
        }

        .side{
            position: relative;
            width: 100%;

            table{
                margin-left: auto;
                margin-right: auto;
                position: relative;
                border-collapse: collapse;
                tr{
                    position: relative;
                    td{
                        width: 110px;
                        height: 80px;
                        position: relative;
                        font-size: 12px;
                        span{
                            color: red;
                        }
                    // border-bottom: dashed 1px black;
                        .title{
                            position: absolute;
                            top: 0;
                        }
                        .description{
                            font-size: 8px;
                            text-align: center;
                            margin-left: auto;
                            margin-right: auto;                
                            padding-bottom: 3px;
                            span{
                                color: red;
                            }
                            .hashtag{
                                color: #00376B;
                            }
                            .gold{
                                color: gold;
                            }
                            .green{
                                color: green;
                            }
                        }
                        .photo1{
                            height: 100px;
                            width: 100px;
                            border-radius: 5%;
                            background-image: url("karubi.jpeg");
                            background-position: center;
                            background-size: contain;
                        }
                        .photo2{
                            height: 100px;
                            border-radius: 5%;
                            width: 100px;
                            background-image: url("test5.jpeg");
                            background-position: center;
                            background-size: contain;
                        }
                        .photo_none{
                            height: 100px;
                            border-radius: 5%;
                            width: 100px;
                            background-image: url("ace_big.png");
                            background-position: center;
                            background-size: contain;
                        }

                    }
                }
            }
        }
        .drink{
            position: relative;
            width: 100%;

            span{
                color: red;
            }

            table{
                margin-left: auto;
                margin-right: auto;
                position: relative;
                border-collapse: collapse;
                tr{
                    position: relative;
                    td{
                        width: 110px;
                        height: 80px;
                        position: relative;
                        font-size: 12px;
                        span{
                            color: red;
                        }
                    // border-bottom: dashed 1px black;
                        .title{
                            position: absolute;
                            top: 0;
                        }
                        .description{
                            font-size: 8px;
                            text-align: center;
                            margin-left: auto;
                            margin-right: auto;                
                            padding-bottom: 3px;
                            span{
                                color: red;
                            }
                            .hashtag{
                                color: #00376B;
                            }
                            .gold{
                                color: gold;
                            }
                            .green{
                                color: green;
                            }
                        }
                        .photo1{
                            height: 100px;
                            width: 100px;
                            border-radius: 5%;
                            background-image: url("karubi.jpeg");
                            background-position: center;
                            background-size: contain;
                        }
                        .photo2{
                            height: 100px;
                            border-radius: 5%;
                            width: 100px;
                            background-image: url("test5.jpeg");
                            background-position: center;
                            background-size: contain;
                        }
                        .photo_none{
                            height: 100px;
                            border-radius: 5%;
                            width: 100px;
                            background-image: url("ace_big.png");
                            background-position: center;
                            background-size: contain;
                        }

                    }
                }
            }
        }
    }

    #store_detail{
        .store_table{
            .tableheader_first{
                text-align: left;
                padding: 20px;
                border-bottom-color: black;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-top-color: black;
                border-top-width: 1px;
                border-top-style: solid;
            }
            .cell_first{
                padding: 20px;
                border-bottom-color: #EEE;
                border-bottom-width: 1px;
                border-bottom-style: solid;
                border-top-color: #EEE;
                border-top-width: 1px;
                border-top-style: solid;
            }
            .tableheader{
                text-align: left;
                padding: 20px;
                border-bottom-color: black;
                border-bottom-width: 1px;
                border-bottom-style: solid;
            }
            .cell{
                padding: 20px;
                border-bottom-color: #EEE;
                border-bottom-width: 1px;
                border-bottom-style: solid;
            }
        }
    }

    

    #photo{
        table{
            margin-left: auto;
            margin-right: auto;
            tr{
                td{
                    height: 100px;
                    width: 100px;
                    background-color: #FEE;
                }
            }
        }
    }
}

