@use "var";

@include var.pc_screen() {
}

@include var.sp_screen() {
    footer{
        bottom: 0;
        right: 0;
        position: fixed;
        display: flex;
        background-color: black;
        .title{
            color: var.$color_sub;
        }
    }
}

