@use "var";

@mixin burgerSpan {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    }


// @include var.pc_screen() {
// }

nav {
    display: flex;
    align-items: center;
}

.menu__box {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}


@include var.sp_screen() {
    header {
        background-color: black;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        border-bottom: 2px solid #AAAAAA;
        z-index: 100;
    }
    .logo {
        position: relative;
        width: 88px;
        height: 60px;
        background-color: black;
        padding-left: 10px;
        border-radius: 25%;
        // font-family: sans-serif;
        // color: #1ea11e;
        .A{
            position: absolute;
            top: 5px;
            // text-shadow:1px 1px 0 #f00,-1px 1px 0 #f00,1px -1px 0 #f00,-1px -1px 0 #f00;
            text-shadow:0.5px 0.5px 0 #fff,-0.5px 0.5px 0 #fff,0.5px -0.5px 0 #fff,-0.5px -0.5px 0 #fff;
            font-size: 8px;
            width: 4px;
            height: 40px;
            padding: 1px;
            display: inline;
            vertical-align: middle;
            writing-mode: vertical-rl;
            font-feature-settings: "palt";
        }
        .B{
            font-size: 32px;
            position: absolute;
            vertical-align: middle;
            left: 16px;
            top: 0;
            // text-shadow:1px 1px 0 #f00,-1px 1px 0 #f00,1px -1px 0 #f00,-1px -1px 0 #f00;
            text-shadow:1px 1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,-1px -1px 0 #fff;
            display: inline;
    
        }
        .C{
            position: absolute;
            left: 80px;
            top: 0;
            // text-shadow:1px 1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,-1px -1px 0 #fff;
            // color: var.$color_main;
            text-shadow:1px 1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,-1px -1px 0 #fff;
            font-size: 32px;
            display: inline;
            z-index: 1;
            animation: tenmetu 1s ease-in-out infinite alternate;
        }
        @keyframes tenmetu {
            0% {
                font-size: 24px;
                // color: black;
                // text-shadow:1px 1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,-1px -1px 0 #fff;
            }
            100%{
                font-size: 32px;
                // color: var.$color_main;
                // text-shadow:1px 1px 0 var.$color_main,-1px 1px 0 var.$color_main,1px -1px 0 var.$color_main,-1px -1px 0 var.$color_main;
            }
        }
        .D{
            position: absolute;
            top: 0;
            left: 96px;
            // text-shadow:1px 1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,-1px -1px 0 #fff;
            // color: var.$color_sub;
            text-shadow:1px 1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,-1px -1px 0 #fff;
            font-size: 16px;
            display: inline;
            animation: tenmetu2 1s ease-in-out infinite alternate;
        }
        @keyframes tenmetu2 {
            0% {
                // color: black;
                font-size: 16px;
                text-shadow:1px 1px 0 var.$color_sub2,-1px 1px 0 var.$color_sub2,1px -1px 0 var.$color_sub2,-1px -1px 0 var.$color_sub2;
            }

            100%{
                text-shadow:1px 1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,-1px -1px 0 #fff;
                // text-shadow:1px 1px 0 var.$color_sub2,-1px 1px 0 var.$color_sub2,1px -1px 0 var.$color_sub2,-1px -1px 0 var.$color_sub2;
                font-size: 32px;
            }
        // 100%{
        //         // color: var.$color_sub;
        //         text-shadow:1px 1px 0 var.$color_sub,-1px 1px 0 var.$color_sub,1px -1px 0 var.$color_sub,-1px -1px 0 var.$color_sub;
        //     }
        }
        .E{
            position: absolute;
            left: 112px;
            top: 0;
            // text-shadow:1px 1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,-1px -1px 0 #fff;
            // color: var.$color_sub2;
            text-shadow:1px 1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,-1px -1px 0 #fff;
            font-size: 32px;
            display: inline;
            animation: tenmetu3 1s ease-in-out infinite alternate;
        }
        @keyframes tenmetu3 {
            0% {
                font-size: 8px;

                text-shadow:1px 1px 0 #111,-1px 1px 0 #111,1px -1px 0 #111,-1px -1px 0 #111;
                // text-shadow:1px 1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,-1px -1px 0 #fff;
            }
            100%{
                font-size: 32px;
                text-shadow:1px 1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,-1px -1px 0 #fff;

                // text-shadow:1px 1px 0 var.$color_sub2,-1px 1px 0 var.$color_sub2,1px -1px 0 var.$color_sub2,-1px -1px 0 var.$color_sub2;
            }
        }

        // @keyframes tenmetu3 {
        //     0% {text-shadow:1px 1px 0 #fff,-1px 1px 0 #fff,1px -1px 0 #fff,-1px -1px 0 #fff;
        //     }
        //     100%{text-shadow:1px 1px 0 var.$color_sub2,-1px 1px 0 var.$color_sub2,1px -1px 0 var.$color_sub2,-1px -1px 0 var.$color_sub2;
        //     }
        // }
    }
    
    nav {display: inline;}

    .menu__box {
        flex-direction: column;
        position: fixed;
        visibility: hidden;
        top: 70px;
        left: 0;
        width: 100%;
        height: 11em;
        margin: -600px 0 0 0;
        padding: 0.6em;
        text-align: center;
        background-color: #2d303a;
        box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
        z-index: 100;
        transition-duration: 0.5s;
    }    
    .menu__item__top {
        display: block;
        padding: 12px 24px;
        color: #ffffff;
        font-size: 18px;
        transition-duration: 0.5s;
        &:hover {color: var.$color_main;}
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #ffffff;
        font-size: 18px;
        transition-duration: 0.5s;
        z-index: 1;
        &:hover {color: var.$color_main;}
    }

}

.menu__item__top {
    display: flex;
    flex-direction: column;
    padding: 0 1em 0 1.9em;
    color: #ffffff;
    // font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}


.menu__item {
    display: flex;
    flex-direction: column;
    padding: 10px 1em 0 1.9em;
    color: #ffffff;
    // font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

#menu__toggle {
    opacity: 0;
    background: #f06c64;
    
    &:checked ~ .menu__btn > span {
        transform: rotate(45deg);
        background: #f06c64;
        }
    &:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
        background: #f06c64;
    }

    &:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
        background: #f06c64;
    }

    &:checked ~ .menu__box {
        visibility: visible;
        left: 0;
        margin: 0;
    }

}

.menu__btn {
    transition-duration: 0.25s;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 10px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
    
    span {
    @include burgerSpan;
    &::before {
        @include burgerSpan;
        content: '';
        top: -8px;
        transition-duration: 0.25s;
        }

    &::after {
        @include burgerSpan;
        content: '';
        top: 8px;
        transition-duration: 0.25s;
    }
    
    }
    
    @media screen and (min-width: 48em) {display: none;}
}