$color_main: rgba(255, 0, 0, 0.7);
$color_sub: rgba(255, 247, 0, 0.9);
$color_sub2: rgba(100, 100, 100, 0.7);


$size_min:520px;
$size_max:960px;

// @import url('https://fonts.googleapis.com/css2?family=Alkalami&display=swap');
// $font_family: 'Alkalami', serif;


@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
$font-family: 'DotGothic16', sans-serif;


@mixin pc_screen() {
    @media screen and (min-width: $size_max) {
        @content;
    }
}

@mixin sp_screen() {
    @media screen and (max-width: $size_min) {
        @content;
    }
} 


// @mixin tb_screen($minBreakPoint, $maxBreakPoint) {
//     @media screen and (min-width: $minBreakPoint) and (max-width: $maxBreakPoint) {
//         @content;
//     }
// }