@use "header";
@use "body";
@use "footer";
@use "var";

html{
    font-family: var.$font_family;
    // background-color: black;
    .first {
        color: red;
    }

    .second {
        color: blue;
        &.third {
            background-color: black;
        }
    }
}